<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="index.js"></script>
  <meta charset="utf-8">
  <title>koine-lexer</title>
</head>
<body>
	<a href="#content" class="sr-only">Skip to main content</a>
  <div class="container" id="content" ng-controller="ApplicationController">
  	<h1>koine-lexer</h1>
  	<input type="text" autofocus value="λύω" ng-model="query" class="form-control" placeholder="word">

    <div ng-repeat="mood in moods">
      <div ng-repeat="voice in voices">
        <div ng-repeat="number in numbers">
          <h4>{{voice}} {{mood}} {{number}}</h4>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th style="width: 14%;"></th>
                <th style="width: 14%;" ng-repeat="tense in tenses">{{tense}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="person in persons">
                <td>{{person}}</td>
                <td ng-repeat="tense in tenses">
                  {{word.indicatives[tense][voice][number][person]}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th colspan="7">Active indicative singular</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></trh>
          <td>Present</td>
          <td>Imperfect</td>
          <td>Future</td>
          <td>Aorist</td>
          <td>Perfect</td>
          <td>Pluperfect</td>
        </tr>
        <tr>
          <th>1st person</th>
          <td>{{word.indicatives.present.active.singular['1']}}</td>
          <td>{{word.indicatives.imperfect.active.singular['1']}}</td>
          <td>{{word.indicatives.future.active.singular['1']}}</td>
          <td>{{word.indicatives.aorist.active.singular['1']}}</td>
          <td>{{word.indicatives.perfect.active.singular['1']}}</td>
          <td>{{word.indicatives.pluperfect.active.singular['1']}}</td>
        </tr>
        <tr>
          <th>2nd person</th>
          <td>{{word.indicatives.present.active.singular['2']}}</td>
          <td>{{word.indicatives.imperfect.active.singular['2']}}</td>
          <td>{{word.indicatives.future.active.singular['2']}}</td>
          <td>{{word.indicatives.aorist.active.singular['2']}}</td>
          <td>{{word.indicatives.perfect.active.singular['2']}}</td>
          <td>{{word.indicatives.pluperfect.active.singular['2']}}</td>
        </tr>
        <tr>
          <th>3rd person</th>
          <td>{{word.indicatives.present.active.singular['3']}}</td>
          <td>{{word.indicatives.imperfect.active.singular['3']}}</td>
          <td>{{word.indicatives.future.active.singular['3']}}</td>
          <td>{{word.indicatives.aorist.active.singular['3']}}</td>
          <td>{{word.indicatives.perfect.active.singular['3']}}</td>
          <td>{{word.indicatives.pluperfect.active.singular['3']}}</td>
        </tr>
      </tbody>
    </table>

  	<pre>{{wordJSON}}</pre>
  </div>
</body>
</html>